In [2]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
import itertools as it
import datetime
import math

In [ ]:
# how many % is the highest-ranked rider the first on the finish line?
# 1. import 1 year
# 2. evaluate per-month % of the first rider winning
#    for every race
#    sort by elo_old
#   if first_row.Pts = max(all pts in a race), counter += 1, else pass

# 3. plot

In [3]:
years = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
for year in years:
    df = pd.read_csv('results_with_teams'+str(year)+'_final.csv', low_memory = False)
    counter = 0
    #df['weighted_elo'] = 0.5*df['old_elo'] + 0.5*df['old_team_elo']
    for name in df.Name.unique():
        df2 = df[(df['Name'] == name)]
        first_ranked = df2.sort_values('old_team_elo', ascending=False).Pnt.values[0]
        highest_ranked = max(df2.Pnt)
        if first_ranked == highest_ranked:
            counter += 1
        else:
            pass
    average = counter/len(df.Name.unique())
    print('The average for year '+str(year)+' is '+str(average)+'.')

The average for year 2011 is 0.0.
The average for year 2012 is 0.0.
The average for year 2013 is 0.0.
The average for year 2014 is 0.0.
The average for year 2015 is 0.07692307692307693.
The average for year 2016 is 0.07692307692307693.
The average for year 2017 is 0.0.
The average for year 2018 is 0.0.
The average for year 2019 is 0.0.
The average for year 2020 is 0.0.

In [50]:
averages = [0.14285714285714285, 0.21428571428571427, 0.21428571428571427, 0.2857142857142857, 0.23076923076923078, 0.23076923076923078, 0.11764705882352941, 0.11764705882352941, 0.29411764705882354, 0.25]

In [34]:
first_ranked = df2[(df2['Name'] == 11)].sort_values('old_elo', ascending=False).Pnt.values[0]
highest_ranked = max(df2[(df2['Name'] == 11)].Pnt)
print(first_ranked, highest_ranked)

5.0 250.0

In [8]:
len(df.Name.unique())

14

In [43]:
df2.sort_values('old_elo', ascending=False).Pnt.values[0]

5.0

In [41]:
df2

,Unnamed: 0,Unnamed: 0.1,Rnk,Rider,Team,Age,Pnt,Name,Stage,Date,...,Distance,RaceRanking,Year,Month,Day,old_elo,new_elo,old_rd,new_rd,Date1
0,67,67.0,105,1.0,1,28.0,5.0,10,-1.0,1/22/2012,...,0 km,32.0,2012,1,22,1500.0,1500.000000,350.0,350.000000,2012-01-22
1,166625,166658.0,175,894.0,23,29.0,5.0,10,-1.0,1/22/2012,...,0 km,32.0,2012,1,22,1500.0,1500.000000,350.0,350.000000,2012-01-22
2,172679,172721.0,81,945.0,74,26.0,5.0,10,-1.0,1/22/2012,...,0 km,32.0,2012,1,22,1500.0,1500.000000,350.0,350.000000,2012-01-22
3,173411,173453.0,17,948.0,74,28.0,5.0,10,-1.0,1/22/2012,...,0 km,32.0,2012,1,22,1500.0,1500.000000,350.0,350.000000,2012-01-22
4,174809,174851.0,25,966.0,67,25.0,16.0,10,-1.0,1/22/2012,...,0 km,32.0,2012,1,22,1500.0,1706.999476,350.0,218.460635,2012-01-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,19458,19462.0,57,88.0,77,24.0,5.0,10,-1.0,1/22/2012,...,0 km,32.0,2012,1,22,1500.0,1137.750917,350.0,218.460635,2012-01-22
122,8627,8627.0,14,48.0,1,23.0,45.0,10,-1.0,1/22/2012,...,0 km,32.0,2012,1,22,1500.0,1500.000000,350.0,350.000000,2012-01-22
123,31071,31075.0,128,140.0,77,24.0,5.0,10,-1.0,1/22/2012,...,0 km,32.0,2012,1,22,1500.0,516.752489,350.0,218.460635,2012-01-22
124,29125,29129.0,17,131.0,1,26.0,36.0,10,-1.0,1/22/2012,...,0 km,32.0,2012,1,22,1500.0,1500.000000,350.0,350.000000,2012-01-22
125,12639,12643.0,54,61.0,1,31.0,190.0,10,-1.0,1/22/2012,...,0 km,32.0,2012,1,22,1500.0,2534.997380,350.0,218.460635,2012-01-22